$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

form.cm-command {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
